
<style>
    media (max-width: 767px) {
        .drawer {
        }
    }

    .sidebar {
        background-color: #252830;
    }
    
    .navbar-mudappbar{
        background-color: #ffffff;
    }

    .custom-mud-text{
        color: #ffffff;
    }

    .MenuIcon{
        color: #252830;
    }

    .nav-item{
        border: none !important;
    }

    .nav-item[b-zqcdjlo7ge] a.active {
        background-color: #0195b9;
        color: #f3f3f3;
    }

    .nav-item[b-zqcdjlo7ge] a {
        border-radius: 0px !important;
    }

    .mud-drawer-header {
        display: flex;
        min-height: var(--mud-appbar-height);
        padding: 24px 24px 12px 24px !important;
    }

    .mud-drawer-header-2 {
        display: flex;
        min-height: var(--mud-appbar-height);
        padding: 24px 24px 0px 24px !important;
    }

    .nav-item[b-zqcdjlo7ge] {
        font-size: 0.9rem;
        padding-bottom: 0px !important;
    }

    .nav-item:last-of-type[b-zqcdjlo7ge] {
        padding-bottom: 0px !important;
    }
  
    p {
        margin-top: 0;
        margin-bottom: 0.5rem !important;
    }

    divider-class{
        color: #0195b9;
        background-color: #0195b9;  
    }

    .mud-divider-custom {
        border-color: #0195b9 !important;
        border-width: 2px;
    }

    .hr-custom {
        opacity: 90 !important;
    }

    .mud-divider-fullwidth-custom {
        flex-grow: 1;
        width: 15%;
    }
</style>

<MudAppBar Elevation="0" Class="navbar-mudappbar">
    <MudIconButton Icon="@Icons.Material.Filled.ClearAll" Size="Size.Large" Class="MenuIcon" Edge="Edge.Start" OnClick="@ToggleDrawer" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
</MudAppBar>
<MudDrawer @bind-Open="@open" Elevation="1" Class="sidebar">
    <MudDrawerHeader>
        <nav class="flex-column">
            <div class="nav-item">
                <MudText Typo="Typo.h6" Class="custom-mud-text">SHEPHERDSHELTER</MudText>
            </div>
            <div class="nav-item">
                <p style="color: #b2b2b2;font-size:11px">DASHBOARD</p>
            </div>
            <MudDivider Class="divider-class mud-divider-custom hr-custom mud-divider-fullwidth-custom" />
        </nav>
    </MudDrawerHeader>
    <MudNavMenu>
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Services
                </NavLink>
                @if (expandSubNav)
                {
                    <NavLink class="px-12 expand-menu text-decoration-none" href="maintransact">
                        <span>Add Transaction</span>
                    </NavLink>
                    <NavLink class="px-12 expand-menu text-decoration-none" href="browse">
                        <span>Browse</span>
                    </NavLink>
                }
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="print">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Print
                </NavLink>
            </div>
        </nav>
    </MudNavMenu>
    <br />
    <MudNavMenu>
        <nav class="flex-column mud-drawer-header-2">
            <div class="nav-item">
                <p style="color: #b2b2b2;font-size:11px">ACCOUNT</p>
            </div>
            <div class="nav-item">
                <MudDivider Class="divider-class mud-divider-custom hr-custom mud-divider-fullwidth-custom" />
            </div>
        </nav>
        <nav class="flex-column">
            <div class="nav-item">
                <NavLink class="nav-link" href="Account">
                    <span class="bi bi-door-open-nav-menu" aria-hidden="true"></span> My Profile
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="LogOut">
                    <span class="bi bi-door-open-nav-menu" aria-hidden="true"></span> Log out
                </NavLink>
            </div>
        </nav>
    </MudNavMenu>
</MudDrawer>


@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }
}

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ServiceApp.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Services
        </NavLink>
        @if (expandSubNav)
        {
                <NavLink class="px-12 expand-menu text-decoration-none" href="maintransact">
                    <span>Add Transaction</span>
            </NavLink>
                <NavLink class="px-12 expand-menu text-decoration-none" href="browse">
                    <span>Browse</span>
            </NavLink>
        }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="print">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Print
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubNav;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
