@page "/transact"
@inject IDialogService DialogService

<MudGrid Class="d-flex justify-center">
        <MudItem xs="12" sm="12">
            <MudPaper Class="pa-16 ma-2">
            <MudText Typo="Typo.h4" Class="px-4">Client Info</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus mauris id lorem finibus, non condimentum risus ultricies.</MudText>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="height: 2px" />
                <div class="container  mt-4">
                    <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">Choose existing client</MudButton>
                </div><br>
                <form>
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col">
                                <div data-mdb-input-init class="form-outline">
                                    <MudTextField @bind-Value="TextValue" Label="First Name" Variant="Variant.Text"></MudTextField><br>
                                </div>
                                <div data-mdb-input-init class="form-outline">
                                    <MudTextField @bind-Value="TextValue" Label="Last Name" Variant="Variant.Text"></MudTextField><br>
                                </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <MudTextField @bind-Value="TextValue" Label="Tin Number" Variant="Variant.Text"></MudTextField><br>
                            </div>
                    </div>
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <MudTextField @bind-Value="TextValue" Label="Address" Variant="Variant.Text"></MudTextField><br>
                        </div>
                        <div data-mdb-input-init class="form-outline mb-4">
                            <MudTextField @ref="multilineReference" T="string" Label="Additional Information" Lines="3" Variant="Variant.Outlined" Text="" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Api" OnAdornmentClick="@(() => multilineReference.SelectAsync())" />
                        </div>
                    </div>
                        </div>
                    </div>
                </form>
            </MudPaper>
        </MudItem>
    <MudItem xs="12" sm="12">
        <MudPaper Class="pa-16 ma-2">
            <MudText Typo="Typo.h4">Services</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary"></MudText>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="height: 2px" />
        </MudPaper>
    </MudItem>
    </MudGrid>


