@page "/"

<AuthorizeView>
    <Authorized>
        <MudGrid Class="d-flex justify-center">
        <MudItem xs="12" sm="10">
              <div class="container">
                    <div class="row mb-4">
                        <div class="col">
                            <MudPaper>
                                <MudChart ChartType="ChartType.Pie" InputData="@data" @bind-SelectedIndex="Index" InputLabels="@labels" Width="550px" Height="550px" />
                            </MudPaper>
                        </div>
                        <div class="col">
                            <MudPaper Class="d-flex align-center mud-width-full">
                                <MudCardContent>
                                    <MudText>Summary</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                    <MudText Typo="Typo.body2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</MudText>
                                    <br>
                                </MudCardContent>
                            </MudPaper>
                         </div>
                    </div>
               </div>
            </MudItem>
        </MudGrid>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

 