/*For testing*/
* {
    /*outline: 1px dotted red;*/
}

.loginForm {
    background-color: rgba(245, 245, 245, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
}

.gradient-custom-6 {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,81,253,1) 100%);
    border-radius: 10px 0 0 10px;
}

.gradient-form {
    height: 100vh;
    width: 100%;
}

.container {
    height: 100vh;
}

.logo {
    height: 6rem;
    width: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.bg {
    background-image: url('loginPageBG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
        height: 4rem;
        width: auto;
        display: block;
        margin: 0 auto 20px auto;
    }
}

/* Mobile Phone */
@media only screen and (max-width: 480px) {
    .container {

    }

    .loginForm {
        /*border-radius: 10px 10px 0 0;*/
        height: 100vh;
        border-radius: 0;
    }

    .gradient-custom-6 {
        /*border-radius: 0 0 10px 10px;*/
        border-radius: 0;
        height: 100vh;
    }

    .logo {
        height: 3rem;
        width: auto;
        display: block;
        margin: 0 auto 20px auto;
    }
}